<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFinanceiro" />
                <binding name="BasicHttpBinding_IAccountCustomer" />
                <binding name="BasicHttpBinding_IAPTService" />
                <binding name="CustomerWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51170/Wcf/Financeiro.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinanceiro"
                contract="KGBFinanceiro.IFinanceiro" name="BasicHttpBinding_IFinanceiro" />
            <endpoint address="http://localhost:51170/Wcf/AccountCustomer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountCustomer"
                contract="KGBAccountCustomer.IAccountCustomer" name="BasicHttpBinding_IAccountCustomer" />
            <endpoint address="http://localhost:50731/APTService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAPTService" contract="APT.IAPTService"
                name="BasicHttpBinding_IAPTService" />
            <endpoint address="http://localhost:51170/Asmx/CustomerWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerWebServiceSoap"
                contract="KGBCustomer.CustomerWebServiceSoap" name="CustomerWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
